{% extends 'Pytania/base.html' %}

{% block content %}

<div class="text-center">
    <h3 class="mt-3">Odpowiedziałeś poprawnie na {{poprawne_odp}} pytania</h3>
    {% if poprawne_odp == 5 %}
        <h3>Gratuluję odpowiedziałeś poprawnie na wszysktie pytania ! </h3>
    {% else %}
        <h4 class="mt-4">Błędne odpowiedzi :</h4>

       {% for klasa, pytanie in my_elements  %}
        <h5 class="mt-2">{{pytanie.text}}</h5>
        <button type="button" class="{{klasa.answerA}}" disabled>{{pytanie.answerA}}</button>
        <button type="button" class="{{klasa.answerB}}" disabled>{{pytanie.answerB}}</button>
        <button type="button" class="{{klasa.answerC}}" disabled>{{pytanie.answerC}}</button>
        <button type="button" class="{{klasa.answerD}}" disabled>{{pytanie.answerD}}</button>

    {% endfor %}
    {% endif %}
    <a class="btn btn-primary mt-3" href="../Quiz" role="button">Wróć do panelu głównego</a>
</div>
{% endblock %}