{% extends 'Pytania/base.html' %}
{% block content %}
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Pytanie : {{nr_pytania}}/5</span>
</nav>
<form action = "sprawdz_odp/{{pytanie.id}}" method="post" class="form-inline">
    <h3 > {{pytanie.tresc}}</h3>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-info btn-lg btn-block">
        <input type="radio"  name="options"  autocomplete="off" value="A" checked> {{pytanie.odpA}}
      </label>
      <label class="btn btn-info btn-lg btn-block">
        <input type="radio" name="options" value="B"  autocomplete="off"> {{pytanie.odpB}}
      </label>
      <label class="btn btn-info btn-lg btn-block">
        <input type="radio" name="options" value="C"  autocomplete="off"> {{pytanie.odpC}}
      </label>
        <label class="btn btn-info btn-lg btn-block">
        <input type="radio" name="options"  value="D" autocomplete="off"> {{pytanie.odpD}}
      </label>
    </div>
    <button type="submit" class="btn btn-warning btn-lg btn-block">Potwierdź odpowiedź</button>
</form>

{% endblock %}