{% extends 'Pytania/base.html' %}

{% block content %}
    <h3 class="mt-3 text-center">Zaloguj się do aplikacji przy pomocy jednego z kont : </h3>
    <a class="btn btn-info btn-lg btn-block mt-3" href="/our_login/" role="button">Zaloguj przez konto naszej aplikacji</a>
    <a class="btn btn-primary btn-lg btn-block " href="https://spring-auth.herokuapp.com/oauth2/authorize/facebook?redirect_uri=http://localhost:8000" role="button">Zaloguj przez Facebook</a>
    <a class="btn btn-warning btn-lg btn-block" href="https://spring-auth.herokuapp.com/oauth2/authorize/google?redirect_uri=http://localhost:8000" role="button">Zaloguj przez Google</a>
    <a class="btn btn-secondary btn-lg btn-block" href="https://spring-auth.herokuapp.com/oauth2/authorize/github?redirect_uri=http://localhost:8000" role="button">Zaloguj przez Github</a>
{% endblock %}